
<div class="blue-header-index">
    <div class="blue-header-text">
        <div class="blue-header-title">
            Hey There!
        </div>
        <div>
            Welcome to my website! I am a computer science and mathematics student at UC Berkeley. Here you can find my portfolio, resume, and blog.
        </div>
        </div>
    </div>
</div>