
<div class="hero-image">
    <div class="hero-text">
        <h1><a class="title" href="/#scroll-here"><%= config.title %></a></h1>
        <% if (config.subtitle){ %><%= config.subtitle %><% } %>
    </div>
</div>
