<div class="container module-inset">
    <div class="row">
        <div class="col center" style="text-align:center">
            <h2>You can also find me on:</h2>
        </div>
        <br>
        <div class="col-sm-4" style="text-align:center">
            <h3 style="font-weight:normal"><a href="https://www.facebook.com/adam.yang.1614">Facebook</a></h3>
        </div>
        <div class="col-sm-4" style="text-align:center">
            <h3 style="font-weight:normal"><a href="https://github.com/adamzuyang">Github</a></h3>
        </div>
        <div class="col-sm-4" style="text-align:center">
            <h3 style="font-weight:normal"><a href="https://www.linkedin.com/in/adam-yang-4954651b5/">Linkedin</a></h3>
        </div>
    </div>
</div>