<!-- A Project Showcase -->
<div class="container module-inset">
    <div class="row">
        <div class="col center" style="text-align:center">
            <h2><a href="/resume/#scroll-projects">Projects</a></h2>
        </div>
    </div>
</div>
<div class="buffer10"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="project1">
                <div class="project-text">
                    <div class="project-inner-wrapper">
                        <a href="/resume/#scroll-projects" class="project-text-title">Scheme</a>
                        <p>A Python-based Scheme interpreter capable of executing Scheme code, complete with macros and tail recursion</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="project2">
                <div class="project-text">
                    <div class="project-inner-wrapper">
                        <a href="/resume/#scroll-projects" class="project-text-title">Ants vs SomeBees</a>
                        <p>An <em>Ants vs Zombies</em>-esque tower defense game developed using Object Oriented Programming</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="project3">
                <div class="project-text">
                    <div class="project-inner-wrapper">
                        <a href="/resume/#scroll-projects" class="project-text-title">My Website</a>
                        <p>This website is implemented using Hexo and Bootstrap, powered using Node.js</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>